html{
    font-family: "adorn-smooth-slab-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFEBF2
}


/* home page*/
body{ 
    margin: auto;
    padding: 0;
    font-family: "adorn-smooth-slab-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navigation{
    background-color:  #E54A79;  
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    z-index: 999;
    font-size: 26px;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
}

.nav li a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    font-size: clamp(12px, 2vw, 26px);
}

.nav li a:hover {
    color: #9f1d44;
}
.names{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header{
    background-image: url("../images/pinkroof.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20vh 5vw;
    top: 0;
}

.pics{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    list-style-type: none;
    padding-bottom: 0;
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    
}

#products{ 
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 10px;
    background-color: #9f1d44;
    border-radius: 5px;
    color: #d6effc;
    justify-content: center;
    
}


li > img{
    width: 100%;
    height: 300px;      
    object-fit: cover;  
    border-radius: 20px;
    display: block;
    padding-bottom: 10px;
}


h5{
    width: 90%;
    margin: 3% auto;
    height: 40px;
    background: #FFEBF2;
    border-radius: 20px;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    color: #E54A79;
    font-size: 16px;
    text-decoration: none;
}


h5:hover{
    color: #FFEBF2;
    background-color: #E54A79;
}

.quote{
    padding: 50px 0 50px 0;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.image{
    float: left;
    width: 80%;
    max-width: 300px;
    height: 400px;
    margin-right: 20px;
    background-image: url("../images/second.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote-text, .frame, .song {
    margin: 0;
    flex: 1; 
}


.frame{
    font-family: "adorn-smooth-ornaments", sans-serif;
    font-size: clamp(2rem, 6vw, 90px);
    color: #E54A79;
}

.song{
    font-size: clamp(16px, 2vw, 22px);
    color: #9f1d44;
    line-height: 1.5;
}

.soon-jung{
    background-color: #d6effc;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;

}

.soon-jung > p{
    font-size: clamp(16px, 2vw, 25px);
    width: 100%;
    max-width: 700px;
}

.skincare{
    background-image: url("../images/tube.jpg");
}

.skincares{
    background-image: url("../images/tubes.jpg");
}
.skincare, .skincares{
    width: 100%;
    max-width: 1000px;
    height: 400px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about{
    margin: 0;
    background-color: #FFEBF2;
    padding: 10px 0 10px 0;
}
.swirl{
    font-family: "adorn-smooth-ornaments", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    padding: 50px 0 0 20px;
    margin:100px 0 0 20px;
    color:#E54A79; 
}
.comes{
    font-size: clamp(30px, 6vw, 50px);
    padding-left: 20px;
}

.one, .two, .three, .four{
    max-width: 80opx;
    margin: auto;
    padding-left: 60px;
    padding-bottom: 10px;
    font-size: clamp(16px, 2vw, 20px);
}

#footer{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 60px;
    background-color: #E54A79;
    color: #FFEBF2;
    font-size: clamp(16px, 2vw, 20px);
    gap: 40px;
}

.newsletter{
    padding-right: 10px;
}
    
.newsletter > .email{
    border-radius: 20px;
    background-color: #FFEBF2;
    color: #E54A79;
    padding: 15px;
}

.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
}

.contact{
    padding-right: 140px;
}


@media (max-width: 900px) {
    .header {
        padding: 10vh 5vw;
    }

    .nav{
        gap:10px;
    }
    .nav li a{
        font-size: 20px;
    }

    .navigation{
        width: 90%;
        padding: 10px;
    }


    .pics {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        gap: 20px;
    }
}

@media (max-width: 700px) {
   
    .pics {
        grid-template-columns: repeat(2, 1fr);
        width: 80%
    }

    .quote {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 100px;
    }

    .image {
        float: none;
        margin: 0 auto 20px auto;
        width: 80%;
        height: 300px;
        max-width: none;
    }

    .quote .frame,
    .quote .song {
        flex: none;
        max-width: 90%;
        text-align: center;
    }
     .soon-jung {
        flex-direction: column; 
        align-items: center;    
        padding: 30px;          
        gap: 20px;            
    }

    .skincare, .skincares {
        width: 80%;             
        max-width: 400px;  
        max-height: 200px;    
        margin: 0 auto;        
    }
}


@media (max-width: 650px) {
    .header {
        padding: 6vh 5vw;
    }

    .nav{
        gap: 5px;
    }
    .nav li a{
        font-size: 10px;
    }

    .navigation{
        width: 80%;
        padding: 10px;
    }

    .pics {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 0 auto;
        gap: 10px;
    }
}

@media (max-width: 400px) {
    .header {
        padding: 3vh 5vw;
    }

    .nav li a {
        font-size: 12px;
        padding: 0.3rem 0.5rem;
    }

    .frame, .swirl {
        font-size: clamp(1.5rem, 6vw, 60px);
    }

    .song {
        font-size: 14px;
    }

    .skincare, .skincares {
        height: 40vh;
    }
}