html{
    font-family: "adorn-smooth-slab-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFEBF2
}


/* home page*/
body{ 
    font-family: "adorn-smooth-slab-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: auto;
}
.navigation{
    background-color:  #E54A79;  
    position: fixed;
    top: 15px;
    border-radius: 25px;
    font-size: 26px;
    margin: 0 180px 0 180px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
}

.nav {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 50px;
    column-gap: 100px;
}

.nav li a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    margin-right: 20px;
}

.nav li :hover {
    color: #9f1d44;
    border-radius: 25px;
}
.names{
    display: flex;
    justify-content: center;
}

.header{
    background-image: url("../images/pinkroof.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 200px;
    top: 0;
}

h2{
    margin:  20px 0 0 20px;
}
.pics{
    list-style: none;
    padding-left: 0;
    grid-template-columns: 150px 150px 150px 150px;
    display: inline-flex;
    column-gap: 40px;
    list-style-type: none;
    padding-top: .4em;
    padding-bottom: 0;
    border-radius: 25px;
    width: 1000px;
    margin: 3%;
}

#products{ 
    padding-top: 10px;
    padding-left: 16px;
    background-color: #9f1d44;
    border-radius: 5px;
    color: #d6effc;
}


li > img{
    border-radius: 25px 25px 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color:#FFEBF2;
    width: 300px;
    display: block;
}

h5{
    width: 280px;
    height: 40px;
    left: 41px;
    top: 1146px;
    background: #FFEBF2;
    border-radius: 0px 0px 25px 25px;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    color: #E54A79;
    font-size: 16px;
    text-decoration: none;
}

h5:hover{
    color: #FFEBF2;
    background-color: #E54A79;
}

.quote{
    padding-bottom: 200px;
    margin: 0 auto;
    width: 800px;
}


.image{
    float: left;
    width: 300px;
    height: 600px;
    padding-right: 20px;
    margin-right: 20px;
    background-image: url("../images/second.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.frame{
    font-family: "adorn-smooth-ornaments", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    padding: 50px 0 0 20px;
    margin:100px 0 0 20px;
    color:#E54A79; 
}

.song{
    font-size: 22px;
    width: 650px;
    margin-left: 10px;
    text-align: center;
    color:#9f1d44;
}

.soon-jung{
    background-color: #d6effc;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    column-gap: 20px;

}

.soon-jung > p{
    font-size: 25px;
    width: 2000px;
    padding-top: 80px;
}

.skincare{
    background-image: url("../images/tube.jpg");
}

.skincares{
    background-image: url("../images/tubes.jpg");
}
.skincare, .skincares{
    width: 1000px;
    height: 400px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about{
    margin: 0;
    background-color: #FFEBF2;
    padding: 10px 0 10px 0;
}
.swirl{
     font-family: "adorn-smooth-ornaments", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    padding: 50px 0 0 20px;
    margin:100px 0 0 20px;
    color:#E54A79; 
}
.comes{
    font-size: 50px;
    padding-left: 20px;
}

.one, .two, .three, .four{
    padding-left: 60px;
    padding-bottom: 10px;
    font-size: larger;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 60px;
    background-color: #E54A79;
    color: #FFEBF2;
    font-size: 20px;
    gap: 40px;
}

.newsletter{
    padding-right: 10px;
}
    
.newsletter > .email{
    border-radius: 20px;
    background-color: #FFEBF2;
    color: #E54A79;
    padding: 15px;
}

.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: center;
    font-size: 40px;
}

.contact{
    padding-right: 140px;
}
