html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 90%;
    margin: 0 auto;
}

header{ 
    text-align: center;
    padding: 20px 0;
}

h1{
    padding-top: 20px;
    font-size: 60px;
    font-weight:800;
  
}

h2{ 
    font-size: 20px;
    font-weight: 100;
}

.section{
    width: 90%;
    max-width: 1000px;
    padding: 30px;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;

}

p{
    display: block; 
}

img{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;

}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;

}

.a{
    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
.box{
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    border-radius: 5px;

}

h3{
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    margin: 0 0 20px 0;
    display: block;
    color: black;
    margin: 0px 10px 10px 10px;

}

h4{ 
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin: 0px 10px 10px 10px;
}


